.circularSlider__circle {
  width: 150px;
  height: 150px;
  position: relative;
}
.circularSlider__circle__outer {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 8px;
  background-color: #eee;
}
.circularSlider__circle__outer__inner {
  height: 134px;
  width: 134px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
#circularSliderNum {
  color: #222;
  font-size: 2rem;
}
circle {
  fill: none;
  stroke: #fd8558;
  stroke-width: 8px;
  stroke-dasharray: 472;
}
.circularSlider__svg {
  position: absolute;
  top: -5px;
  left: -5px;
  transform: rotate(-90deg);
}
