.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
}
.hero__dots {
  position: absolute;
  height: 10px;
  width: 10px;
  background: black;
  opacity: 0.5;
  border-radius: 50%;
}
.hero__content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 15vw;
  z-index: 99;
}
.hero__texts__title {
  font-size: calc(60px + 2vw);
  line-height: 120px;
  width: 500px;
  font-weight: bolder;
  color: #222;
}
.Typewriter__wrapper,
.Typewriter__cursor {
  color: #f58634;
}
.hero__texts__desc {
  color: #8d8d8d;
  font-size: 18px;
  line-height: 1.67;
  margin-top: 27px;
  font-weight: 500;
  max-width: 60%;
}
.hero__texts__btn {
  margin-top: 3.5rem;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  background-color: #f58634;
  border: 1px solid #f58634;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.hero__imgWrapper {
  position: absolute;
  max-width: 50%;
  right: 0;
  top: 0;
}
.hero__imgWrapper img {
  width: 100%;
}
.hero__texts__btn:hover,
.hero__texts__btn:focus {
  box-shadow: inset 13rem 0 0 0 white;
  color: #f58634;
}
.hero__rshape {
  position: absolute;
  filter: blur(8px);
  z-index: 99;
}
.circle {
  height: 100px;
  width: 100px;
  background-color: #fd8558;
  border-radius: 50%;

  animation: 10s pgCircle infinite;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}
.filledCircle {
  height: 130px;
  width: 130px;
  background-color: transparent;
  border-radius: 50%;
  border: 1.8rem solid #faca6a;
  top: 80%;
  animation: 20s pgFilledCircle infinite;
}
.square {
  height: 45px;
  width: 45px;
  top: 80%;
  background-color: #9d97ff;
  animation: 20s pgSquare infinite;
}
.thing {
  width: 100px;
  height: 300px;
  border-radius: 0 100% 100px 0;
  left: 0;
  top: 60%;
  background: (129, 221, 151, 0.4);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba((129, 221, 151, 0.4)) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(129, 221, 151, 0.4) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(129, 221, 151, 0.4) 100%
  );
}

@keyframes pgCircle {
  0% {
    left: 52%;
    top: 17%;
  }
  50% {
    left: 50%;
    top: 19%;
  }
  100% {
    left: 52%;
    top: 17%;
  }
}
@keyframes pgSquare {
  0% {
    transform: rotate(-20deg);
    left: 56%;
    top: 79%;
  }
  50% {
    transform: rotate(60deg);
    left: 54%;
    top: 81%;
  }
  100% {
    transform: rotate(-20deg);
    left: 56%;
    top: 79%;
  }
}
@keyframes pgFilledCircle {
  0% {
    left: 81%;
    top: 80%;
  }
  50% {
    left: 84%;
    top: 78%;
  }
  100% {
    left: 81%;
    top: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .hero__content {
    margin-right: 0;
    margin-left: 5rem;
  }
  .hero__content__imgWrapper {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero__content__imgWrapper {
    display: none;
  }
  .hero__content {
    margin-left: 0;
  }
  .hero__texts {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__texts__title {
    font-size: calc(45px + 1vw);
    text-align: center;
    width: 100%;
  }
  .hero__texts__desc {
    font-size: 20px;
    max-width: 100%;
    text-align: center;
  }
  .filledCircle {
    display: none;
  }
}
