.pagestart {
  width: 100%;
  height: 100vh;
  position: relative;
  background: white;
}
.pagestart__content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 15vw;
}
.pagestart__texts {
  z-index: 99;
}
.pagestart__texts__title {
  font-size: calc(60px + 1vw);
  width: 500px;
  font-weight: bolder;
  color: #222;
}
.Typewriter__wrapper,
.Typewriter__cursor {
  color: #f58634;
}
.pagestart__texts__desc {
  color: #8d8d8d;
  font-size: 18px;
  line-height: 1.67;
  margin-top: 27px;
  font-weight: 500;
  max-width: 60%;
}
.pagestart__texts__btn {
  margin-top: 3.5rem;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  background-color: #f58634;
  border: 1px solid #f58634;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.pagestart__content__imgWrapper {
  position: absolute;
  max-width: 50%;
  right: 0;
  top: 0;
}
.pagestart__content__imgWrapper img {
  width: 100%;
}
.pagestart__texts__btn:hover,
.pagestart__texts__btn:focus {
  box-shadow: inset 13rem 0 0 0 white;
  color: #f58634;
}
.dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
}
.dot1 {
  background-color: #9ed27d;
  left: 11%;
  top: 23%;
}
.dot2 {
  background-color: #f69977;
  left: 3.5%;
  top: 50%;
}
.dot3 {
  background-color: #f69977;
  left: 42.55%;
  top: 51%;
}
.dot4 {
  background-color: #9d97ff;
  left: 12%;
  top: 85%;
}
.dot5 {
  background-color: #faca6a;
  left: 62.5%;
  top: 94%;
}
.dot6 {
  background-color: #9ed27d;
  left: 88%;
  top: 98%;
}
.circle {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #fd8558;
  border-radius: 50%;
  display: inline-block;
  z-index: 99;
  filter: blur(5px);
  animation: 10s pgCircle infinite;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}
.square {
  position: absolute;
  height: 45px;
  width: 45px;
  top: 80%;
  z-index: 99;
  filter: blur(5px);
  background-color: #9d97ff;
  animation: 20s pgSquare infinite;
}
.filledCircle {
  position: absolute;
  height: 130px;
  width: 130px;
  background-color: transparent;
  border-radius: 50%;
  border: 1.8rem solid #faca6a;
  filter: blur(8px);
  z-index: 99;
  top: 80%;
  animation: 20s pgFilledCircle infinite;
}
.thing {
  position: absolute;
  width: 100px;
  height: 300px;
  border-radius: 0 100% 100px 0;
  left: 0;
  top: 60%;
  background-color: #9ed27d;
  opacity: 0.4;
}

@keyframes pgCircle {
  0% {
    left: 52%;
    top: 17%;
  }
  50% {
    left: 50%;
    top: 19%;
  }
  100% {
    left: 52%;
    top: 17%;
  }
}
@keyframes pgSquare {
  0% {
    transform: rotate(-20deg);
    left: 56%;
    top: 79%;
  }
  50% {
    transform: rotate(60deg);
    left: 54%;
    top: 81%;
  }
  100% {
    transform: rotate(-20deg);
    left: 56%;
    top: 79%;
  }
}
@keyframes pgFilledCircle {
  0% {
    left: 81%;
    top: 80%;
  }
  50% {
    left: 84%;
    top: 78%;
  }
  100% {
    left: 81%;
    top: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .pagestart__content {
    margin-right: 0;
    margin-left: 5rem;
  }
  .pagestart__content__imgWrapper {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .pagestart__content__imgWrapper {
    display: none;
  }
  .pagestart__content {
    margin-left: 0;
  }
  .pagestart__texts {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pagestart__texts__title {
    font-size: calc(45px + 1vw);
    text-align: center;
    width: 100%;
  }
  .pagestart__texts__desc {
    font-size: 20px;
    max-width: 100%;
    text-align: center;
  }
  .filledCircle {
    display: none;
  }
}
