.lema {
  width: 100%;
  background-color: white;
}
.lema__content {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}
.lema__content__texts {
  margin: 0 5rem;
  max-width: 400px;
}
.lema__content__texts__subTxt {
  color: #f58634;
}
.lema__content__texts__title {
  color: #222;
  margin: 2rem 0;
  font-size: 2.5rem;
}
.lema__content__texts__desc {
  font-size: 15px;
  color: #8d8d8d;
}
.lema__content__imgs {
  position: relative;
  max-width: 600px;
  min-width: 300px;
}
.lema__content__imgs__bgImg {
  width: 100%;
}
.lema__content__imgs__objects {
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
}
.lema__content__imgs__objects__img {
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
}
.imgL1 {
  width: 22%;
}
.imgL2 {
  width: 18%;
  left: 55%;
  top: 12%;
}
.imgL3 {
  width: 12%;
  left: 88%;
  top: 20%;
}
.imgL4 {
  width: 12%;
  left: 50%;
  top: 53%;
}
.imgL5 {
  width: 20%;
  left: 75%;
  top: 65%;
}
.imgL6 {
  width: 17%;
  left: 15%;
  top: 50%;
}
.imgL7 {
  width: 10%;
  left: 15%;
  top: 83%;
}
@media only screen and (max-width: 768px) {
  .lema__content__texts__title {
    font-size: 2rem;
  }
  .lema__content__imgs__bgImg {
    max-width: 400px;
    margin-bottom: 2rem;
  }
  .lema__content {
    flex-direction: column;
  }
  .lema__content__imgs__objects__container {
    position: absolute;
    height: 500px;
    width: 0%;
  }
}
