.lema {
  width: 100%;
  background-color: white;
  position: relative;
}
.lema__content {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
}
.lema__content__imgs {
  position: relative;
  max-width: 600px;
  min-width: 300px;
}
.lema__content__imgs__bgImg {
  width: 100%;
}
.lema__content__imgs__objects {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.lema__content__imgs__objects__img {
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
}
.lema__content__texts {
  margin: 0 5rem;
  max-width: 400px;
}
.lema__content__texts__subTxt {
  color: #f58634;
}
.lema__content__texts__title {
  color: #222;
  margin: 2rem 0;
  font-size: 2.5rem;
}
.lema__content__texts__desc {
  font-size: 15px;
  color: #8d8d8d;
}
.lema__circle {
  width: 21%;
  height: 150%;
  border-radius: 100% 0% 0% 100% / 49% 30% 70% 51%;
  background: rgb(157, 151, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(157, 151, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(157, 151, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(157, 151, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d97ff",endColorstr="#ffffff",GradientType=1);
  top: -20rem;
  right: 0;
  position: absolute;
}
@media only screen and (max-width: 1024px) {
  .lema__circle {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .lema__content__texts__title {
    font-size: 2rem;
  }
  .lema__content__imgs__bgImg {
    max-width: 400px;
    margin-bottom: 2rem;
  }
  .lema__content {
    flex-direction: column;
  }
  .lema__content__imgs__objects__container {
    position: absolute;
    height: 500px;
    width: 0%;
  }
}
