.mensagem {
  width: 100%;
  padding-bottom: 5rem;
  position: relative;
  background-color: white;
}
.mensagem__content {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}
.mensagem__content__subTxt {
  color: #fd8558;
}
.mensagem__content__tile {
  font-size: 2.5rem;
  color: #222;
}
.mensagem__content__form {
  display: flex;
  margin-top: 3rem;
}
.mensagemForm3 {
  display: flex;
  width: 40%;
  flex-direction: column;
}
.mensagem__content__form__input {
  padding: 10px 0 10px 30px;
  font-size: 15px;
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid #dbdbdb;
  outline: none;
  transition: all 0.3s;
}
.mensagem__content__form__input:focus {
  border-bottom: 2px solid #fd8558;
}
.mensagemForm2 {
  margin-left: 5rem;
  width: 40%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
}
.mensagem__content__form__input__textArea {
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.3s;
  resize: none;
  background-color: transparent;
  font-size: 15px;
  z-index: 2;
  border-bottom: 2px solid #dbdbdb;
}
.mensagem__content__form__input__textArea:focus {
  border-bottom: 2px solid #fd8558;
}
.mensagem__content__form__submitBtn {
  margin-top: 3.5rem;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  background-color: #f58634;
  border: 1px solid #f58634;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.mensagem__content__form__submitBtn:hover,
.mensagem__content__form__submitBtn:focus {
  box-shadow: inset 13rem 0 0 0 white;
  color: #f58634;
}
.submited {
  background-color: #3ec59d;
  border: 1px solid #3ec59d;
}
.submited:hover,
.submited:focus {
  box-shadow: none;
  color: white;
}
.mensagemForm2__txt {
  padding-top: 3rem;
  color: #8d8d8d;
}
.envelopeForm {
  position: absolute;
  width: 50%;
  transform: rotate(10deg);
  right: 5rem;
  z-index: 1;
  opacity: 0.2;
}
.dotF1 {
  background-color: #f69977;
  left: 11%;
  top: 23%;
}
.dotF2 {
  background-color: #9d97ff;
  left: 3.5%;
  top: 50%;
}
.dotF3 {
  background-color: #9ed27d;
  left: 60%;
  top: 3%;
}
.dotF4 {
  background-color: #faca6a;
  left: 12%;
  top: 85%;
}
.dotF5 {
  background-color: #f69977;
  left: 78%;
  top: 30%;
}
.dotF6 {
  background-color: #9d97ff;
  left: 85%;
  top: 80%;
}
.dotF7 {
  background-color: #faca6a;
  left: 85%;
  top: 1%;
}
.dotF8 {
  background-color: #9ed27d;
  left: 93%;
  top: 35%;
}
@media only screen and (max-width: 768px) {
  .mensagem__content__form {
    flex-direction: column;
    align-items: center;
  }
  .mensagemForm2 {
    margin-top: 2rem;
    margin-left: 0;
    width: 90%;
  }
  .mensagemForm3 {
    display: flex;
    width: 90%;
    flex-direction: column;
  }
  .mensagem__content__subTxt {
    text-align: center;
    font-size: 14px;
  }
  .mensagem__content__tile {
    font-size: 2rem;
    text-align: center;
  }
}
