.mensagem {
  width: 100%;
  padding-bottom: 5rem;
  position: relative;
  z-index: 999;
  background-color: white;
}
.mensagem__dots {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: black;
  z-index: -1;
  opacity: 0.5;
  border-radius: 50%;
}
.mensagem__content {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}
.mensagem__content__subTxt {
  color: #fd8558;
}
.mensagem__content__tile {
  font-size: 2.5rem;
  color: #222;
}
.mensagem__content__form {
  display: flex;
  margin-top: 3rem;
}
.mensagem__content__form__left {
  display: flex;
  width: 40%;
  flex-direction: column;
}
.mensagem__content__form__left__input {
  padding: 10px 0 10px 30px;
  font-size: 15px;
  margin: 20px 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #dbdbdb;
  outline: none;
  transition: all 0.3s;
}
.mensagem__content__form__left__input:focus {
  border-bottom: 2px solid #fd8558;
}
.mensagem__content__form__right {
  margin-left: 5rem;
  width: 40%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
}
.mensagem__content__form__right__input__textArea {
  width: 100%;
  border: none;
  outline: none;
  transition: all 0.3s;
  resize: none;
  background-color: transparent;
  font-size: 15px;
  z-index: 2;
  border-bottom: 2px solid #dbdbdb;
}
.mensagem__content__form__right__input__textArea:focus {
  border-bottom: 2px solid #fd8558;
}
.mensagem__content__form__right__submitBtn {
  margin-top: 3.5rem;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  background-color: #f58634;
  border: 1px solid #f58634;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.mensagem__content__form__right__submitBtn:hover,
.mensagem__content__form__right__submitBtn:focus {
  box-shadow: inset 13rem 0 0 0 white;
  color: #f58634;
}
.submited {
  background: #3ec59d;
  border: 1px solid #3ec59d;
}
.submited:hover,
.submited:focus {
  box-shadow: none;
  color: white;
}
.mensagem__content__form__right__txt {
  padding-top: 3rem;
  color: #8d8d8d;
}
.envelopeForm {
  position: absolute;
  width: 50%;
  transform: rotate(10deg);
  right: 5rem;
  z-index: 1;
  opacity: 0.2;
}
@media only screen and (max-width: 768px) {
  .mensagem__content__form {
    flex-direction: column;
    align-items: center;
  }
  .mensagemForm2 {
    margin-top: 2rem;
    margin-left: 0;
    width: 90%;
  }
  .mensagemForm3 {
    display: flex;
    width: 90%;
    flex-direction: column;
  }
  .mensagem__content__subTxt {
    text-align: center;
    font-size: 14px;
  }
  .mensagem__content__tile {
    font-size: 2rem;
    text-align: center;
  }
}
