@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a,
a:active,
a:hover,
a:focus,
a:target,
a:visited {
  color: #8d8d8d;
  transition: all 0.2s;
}
